* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/intersection.png");
	max-height: 1200px;
}

.centered {
	margin: 0 auto;
}

#title {
	height: 100px;
	width: 280px;
	text-align: center;
	padding: 10px;
	color: white;
	background-color: #A2531D;
	margin-bottom: 10px;
}

#instructions {
	height: 400px;
	width: 500px;
	color: green;
	background-color: yellow;
	margin-bottom: 10px;
	padding: 10px;
}

#score-wrapper {
	height: 160px;
	width: 370px;
	margin-bottom: 10px;
}

#solution {
	height: 160px;
	width: 260px;
	background-color: red;
	color: white;
	margin-right: 10px;
	padding: 10px;
	float: left;
}

#wins-losses {
	height: 160px;
	width: 100px;
	padding-left: 10px;
	background-color: green;
	color: white;
	float: left;
}

#pics {
	height: 120px;
	width: 480px;
	margin-bottom: 10px;
}

#crystal-area {
	height: 120px;
	width: 480px;
}

.crystals-button {
	display: inline;
}

.crystal-img {
	height: 120px;
	width: 120px;
	border: solid;
	border-color: lightblue;
}

#result {
	height: 20px;
	width: 100px;
}

#score-text {
	height: 40px;
	width: 260px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: purple;
	color: white;
	font-weight: bold;
}

#score-area {
	height: 160px;
	width: 260px;
	padding-top: 0px;
	padding: 10px;
	background-color: purple;
	color: white;
}
