* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/intersection.png");
}

#title {
	height: 100px;
	width: 280px;
	text-align: center;
	padding: 10px;
	color: white;
	background-color: #A2531D;
	margin-bottom: 10px;
}

#instructions {
	height: 400px;
	width: 500px;
	color: green;
	background-color: yellow;
	margin-bottom: 10px;
}

#solution {
	height: 160px;
	width: 260px;
	background-color: red;
	margin-bottom: 10px;
	margin-right: 10px;
	float: left;
}

#wins-losses {
	height: 160px;
	width: 100px;
	padding: 5px;
	background-color: green;
	float: left;
}

#result {
	height: 20px;
	width: 100px;
}

#pics {
	clear: both;
	height: 120px;
	width: 600px;
	margin-bottom: 10px;
}

#score-text {
	height: 40px;
	width: 260px;
	margin-bottom: 10px;
	background-color: purple;
}

#score-number {
	height: 160px;
	width: 260px;
	padding: 1px;
	background-color: purple;
}